.sundar-comment{
font-family:Arial;
font-size:18px;
font-weight:bold;
width:500px;
line-height:25px;
margin-botton:0;
}
.heading-details{
font-family:Arial;
margin-top:0;
}
.author{
margin-top:5px;
font-family:Arial;
}
.page-description{
font-family:Arial;
font-size:14px;
line-height:20px;
margin-bottom:200px;
}
.foot-note{
font-family:Arial;
background-color:red;
color:white;
text-align:center;
padding-top:15px;
padding-bottom:15px;

}
.ticket-booking{
cursor:pointer;
margin-left:10px;

}
.ticket-booking:hover{
text-decoration:underline;
}